/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'crete round', serif;
    font-size: 35px;
    color: white;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */

header {
    display: inherit;
    position: fixed;
    
    height: 80px;
    width: 100%;
        
    box-shadow: 0 0 30px black;
    
    background-color: #001425;
}

header h1{
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

header nav{
    float: right;
    margin-top: 25px;
}

header nav ul li {
    display: inline-block;
    float: left;

}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* Main image */

#main-image{
    padding-top: 80px;
    
    width: 100%;
    height: 580px;
    background: url('../img/mainfofo.jpg') no-repeat center;
    background-size: cover;
}

/* BORDURE APRES IMAGE */

#bordureimage{
    background: url('../img/borduremain.png') center no-repeat;
    background-size: cover;
    height: 200px;
}

/* TEXTE DE PRESENTATION */

#text-prez{
    background-color: #001425;
    height: 350px;
    width: 100%;
}

#text-prez p{
    color: #ccd9e4; 
    padding: 30px 300px; 
    text-align: justify;
}

/* FOOTER */

footer{
    height: 150px;
    background-color: #001425;
    border-top: 2px grey solid;

}





